.apresentacao{
    text-align: left;
}


.header-site{
    background-image:  url(../imgParallax.jpg) ;
    background-position: center top;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
    opacity: 0.5;
}

#logo{
    width: 7%;
}

#secaoPrototipo{
    display: table;
}

#Videoprototipo{
    display: table-cell;
    float: left;
    margin-top: -20px;
}

#textoVideo{
    display: table-cell;
    float: left;
    width: 565px;
    margin-top: 20px;
    margin-left:20px ;
}

#rodape{
    width: 100%;
    height: 225px;
    text-align: center;
}

#imgFooter{
	color: #ffffff;
    margin-top: 10px;
    text-align: center;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

#text-contact{
    font-style: italic;
}

.social-icons a{
    color: #fff;
    float: right;
    margin-left: 12px;
}

#iconSocial{
    width: 5%;
}

#cardFunc{
    background-color: lightblue;
    text-align: center;
}

#imgTela{
    width: 85%;
    margin-top: 20px;
    height: 400px;
}

.zoom{
    overflow: hidden;

}

.zoom img{

    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition:all 0.3 ;
    transition: all 0.3s;
}

.zoom:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

#secaoZoom{
    height: 500px;
    text-align: center;
}

.text-item{
    color: black;
    text-align: center;
    box-shadow: black;
    font-style: oblique;
}

p.card-text{
	color:#ffffff;
}

h5.card-title{
	color: #ffffff;
}