<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{~/global.css}">
	<title>CoVida</title>
</head>
<body>
	<nav th:fragment="menu(page)">
		<ul>
			<li><a href="/contato" th:classappend="${page=='contato'} ? active">Contato</a></li>
			<li><a href="/convenio" th:classappend="${page=='convenio'} ? active">Convênio</a></li>
			<li><a href="/documento" th:classappend="${page=='documento'} ? active">Documentos</a></li>
			<li>
			<span th:text="${#authentication.getPrincipal().getNome()}"></span>
				<a th:href="@{/logout}"><span class="material-icons" title="sair">exit_to_app</span></a>
			</li>
		</ul>
	</nav>
</body>
</html>