<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="_template :: head" ></head>

<body>
<div class="content">

	<h2>Editar contato</h2>

	<form action="/contato/update" method="POST" th:object="${contato}">
	
		<input type="hidden" th:field="*{id}" >
		
		<input 
			type="text" 
			placeholder="nome completo" 
			th:field="*{nome}"
			th:classappend="${#fields.hasErrors('nome')} ? invalid" 
		/>
		<span th:errors="*{nome}"></span>
		
		<input 
			type="text" 
			placeholder="telefone" 
			th:field="*{telefone}"
			th:classappend="${#fields.hasErrors('telefone')} ? invalid" 
		/>
		<span th:errors="*{telefone}"></span>
		
		<input 
			type="text" 
			placeholder="E-mail" 
			th:field="*{email}"
			th:classappend="${#fields.hasErrors('email')} ? invalid" 
		/>
		<span th:errors="*{email}"></span>

		<div class="actions">
			<a href="/contato" class="btn red">Cancelar</a>
			<button class="btn">Salvar</button>
		</div>

	</form>
	
</div>

</body>
</html>