<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>

<body>

<div class="content">

	<h1>CoVida Website</h1>
	
	<span class="alert" th:if="${message != null}" th:text="${message}"></span>
	
	<form th:action="@{/login}" method="POST">
		
		<input 
			type="text" 
			placeholder="E-mail"
			name="username"
		/>

		<input 
			type="password" 
			placeholder="senha"
			name="password"
		/>

		<div class="actions">
			<a href="/index" class="btn red">Cancelar</a>
			<button class="btn">Logar</button>
		</div>
	</form>
</div>

</body>
</html>
